.rad-call-to-action {
  position: relative;
  padding: 30px 50px;
  text-align: center;
  z-index: 1;


  background: grey;
  color: black;
}

.rad-call-to-action.rad-call-to-action--has-bg-image {
  color: white;
}

.rad-call-to-action .ck-editor__nested-editable_focused {
  color: black;
}

.rad-call-to-action__background {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none !important;
}

.rad-call-to-action__background figure {
  width: 100%;
  height: 100%;
  margin: 0;
  display: block !important;
}

.rad-call-to-action__background div:not(.contextual) {
  width: 100%;
  height: 100%;
}

.rad-call-to-action__background div:not(.contextual) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.rad-call-to-action__background:after {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  content: ' ';
  background-color: rgba(55, 55, 55, 0.7);
}